<section>
    <div class="container">
        <div class="row">
            <div class="col-12 border-bottom">
                    <h3>Carrito</h3>
            </div>


        </div>
        <div class="row">
            <div class="col-9 border-bottom">
                <div class="row">
                    <div class="col-4 ">
                        <img src="https://http2.mlstatic.com/D_NQ_NP_702432-MLA43736489400_102020-O.jpg" height="80px" alt="foto card">
                    </div>
                    <div class="col-4">
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, fuga.
                        </p>
                    </div>
                    <div class="col-4">
                        <h2>$560</h2>

                    </div>
                </div>

            </div>
            <div class="col-3  bg-danger">
                <h2>Precio Total:</h2>
                <button type="button" class="btn btn-sm btn-outline-secondary">Pagar</button>
            </div>
        </div>


    </div>

</section>
