
<div class="card shadow-sm">

        <img src="https://i.pinimg.com/originals/84/d5/33/84d533bdfea8ba2cd0af427e236eca90.jpg" width="100%"
                    alt="Moda para mujeres">

        <div class="card-body">
            <h2 class="fs-1">{{producto?.nombreProducto}}</h2>
            <p class="card-text">
                {{producto?.detalleProducto}},{{producto?.precio}}
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button"
                    class="btn btn-sm btn-outline-secondary" (click)= "respuestaAlClick()">Agregar carrito</button>
                </div>

            </div>
        </div>
</div>


