<div class="card shadow-sm lista-producto-card">
  <div class="card-body lh-2">
    <img
      src="{{ producto?.tipoPersonalizacionConcreta }}"
      height="150px"
      width="100%"
    />
    <a [routerLink]="['detalle-producto']">
      <h2 class="fs-1 font-weight-light">{{ producto?.nombre }}</h2>
    </a>
    <p class="card-text">${{ producto?.precio }}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-sm btn-primary mt-3"
          (click)="agregarAlCarrito()"
        >
          Agregar al carrito
        </button>
      </div>
    </div>
  </div>
</div>
