<section >
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
          <img src="https://media.minutouno.com/p/db711733caff207e834264e8a3714d93/adjuntos/150/imagenes/040/348/0040348361/1200x675/smart/remerajpg.jpg" alt="remera messi" height="150px">
      </div>
      <div class="col-lg-6">
          <h1>Adidas</h1>
          <h2>Remera del Barca</h2>

          <h2>$$</h2>

          <button class="btn btn-primary" type="submit">Agregar carrito</button>
          </div>

    </div>
  </div>

</section>
